@charset "utf-8";

/* 1. Fonts */
@import url("http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

/* 2. Body and Some General */
:root{
  --primary-color: #ee4d2d;
  --text-color: #333;
  --border-color: #dbdbdb;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffffff;
  color: #1e1e27;
}

div {
  display: block;
  position: relative;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}








p {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 2px #fde0db;
  transition: all 200ms ease;
}
a,
a:hover,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a:active {
  position: relative;
  color: white;
}
p a:hover {
  color: white;
  background: blue;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: blue;
  color: white;
}
p::selection {
  background: blue;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
.trans_300 {
  transition: all 300ms ease;
}
::input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777;
}
.clearfix::before,
.clearfix::after {
  content: "";
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

.super_container {
  width: 100%;
  overflow: hidden;
}
.fill_hight {
  height: 100%;
}
/* 3. Home */
.header {
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;

}

/* 3.1 main navigation */
.main_nav_container {
  background-color: white;
  width: 100%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);
  margin-bottom: 1px;

}

.navbar ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}


.navbar {
  width: auto;
  height: 90px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 100;
}
/* .navbar_menu li {
  display: inline-block;
} */

.navbar li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.navbar_menu li a {
  display: block;
  color: #1e1e27;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar_user li {
  display: inline-block;
  text-align: center;
}
.navbar_user li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  transition: color 0.3s ease;
}
.navbar_user li a:hover {
  color: #b5aec4;
}
.dropdown{
  width: 150px;
  
}
.navbar ul li:hover > .navbar ul,
ul li ul:hover {
  background-color: blue;
  visibility: visible;
  opacity: 1;
  display: block;
  
}
.dropdown li a:hover{
  background-color: white;
  color: #f5973e ;
}
.category1{
  text-align: center;
  font-size: 16px !important;
  text-transform: none !important;
}

.navbar ul li ul li {
  clear: both;
  width: 100%;
}
.checkout {
  color: #b5aec4;
}
.checkout a {
  background: #eceff6;
  border-radius: 50%;
}
.checkout_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #ffffff;
}



/* Hamburger */
.hamburger_container{
  display: none;
  margin-left: 40px;
}
.hamburger_container i{
  font-size: 24px;
  color: #1e1e27;
  transition: all 300ms ease;
}
.hamburger_container:hover i{
color: #b5aec4;
}
.hamburger_menu{
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
  transition: all 300ms ease;
}
.hamburger_menu.active{
  right: 0;
}
.fs_menu_overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 9;
  background: rgba(255, 255, 255, 0);

  pointer-events: none;
  transition: all 200ms ease;
}
.hamburger_close{
  position: absolute;
  top: 26px;
  right: 10px;
  padding: 10px;
  z-index: 1;
}

.hamburger_close i{
  font-size: 24px;
  color: #1e1e27;
  transition: all 300ms ease;
}
.hamburger_close i:hover{
  color: #b5aec4;
}
.hamburger_menu_content{
  padding-top: 100px;
  width: 100%;
  height: 100%;
  padding-right: 20px;
} 
.menu_item{
  display: block;
  position: relative;
  border-bottom: solid 1px #b5aec4;
}
.menu_item > a{
  display: block;
  color: #1e1e27;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
}
.menu_item > a:hover{
  color: #b5aec4;
}
.menu_item > a > i{
  margin-left: 8px;  
}
.menu_item.active{
  display: block;
  visibility: visible;
  opacity: 1;
}
/* 3.2 Logo */
.logo_container {
  position: absolute;
  height: 100%;
}
